.nav {


    &__link {
      
        padding: 5px 25px;
        border-radius: 23px;
        color: #299DED;
        background-color: #303539;
        font-size: 25px;
        margin-right: 11px;
        cursor: pointer;
    }

    &__link:last-child {
        margin-right: 0;
    }
 
 
 }
 
 .active {
     color:#606365;
 }