.cart {
  &__items {
    width: 25%;
    padding: 0 12.5px;
    margin-bottom: 25px;
  }

  &__img img {
    max-width: 100%;
  }

  &__img {
    position: relative;
    border: 5px solid #ffffff;
    transition: border 0.4s ease;
    border-radius: 5px;
  }

  &__rating {
    color: #fff;
  }

  &__info {
    cursor: pointer;
    font-size: 25px;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: 0.4s ease;

    display: flex;
    flex-direction: column;
    padding-top: 35px;
  }

  &__info-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
  }

  &__info-img img {
    margin-bottom: 11px;
  }

  &__genres {
    text-align: center;
    margin-bottom: 50px;
  }

  &__genre {
    margin-bottom: 5px;
    color: #fff;
  }

  &__button {
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background: #299ded;
    border-radius: 5px;
    padding: 5px 30px;
    color: #303539;
    transition: 0.8s ease;
  }

  &__img:hover &__button {
    bottom: 35px;
  }

  &__img:hover {
    border: 5px solid #299ded;
  }

  &__img:hover &__info {
    opacity: 1;
    background: rgba(48, 53, 57, 0.8);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }

  &__subtitle {
    padding-top: 5px;
    font-weight: 300;
  }

  &__title {
    font-size: 18px;
    color: #fff;
  }

  &__year {
    font-size: 15px;
    color: #9ca1a4;
  }
}

@media (max-width: 1000px) {
  .cart__items {
    width: 33%;
  }
}

@media (max-width: 750px) {
  .cart__items {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .cart__items {
    width: 100%;
  }
}
